
 img{

 }
.one,.two,.three,.four,.five,.six,.seven,.heigt,.nine,.ten,.eleven,.twelve,.thirteen,.fourteen,.fifteen,.sixteen,.seventeen,.heigteen{
     width: 141px;
     height: 199px;
     background-color: black;
     display:inline-block;
     position:  relative;
     left: -148px;
}
div {
	display: inline;
}